<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="" href="static/landingPage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title> 100 Days of Paleo </title>
</head>

<body>
    <div class="container">
        <h1>Welcome 100 Days of Paleo</h1>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="ninja.html">About</a>
            </li>
            <li>
                <a href="dojonew.html">News</a>
            </li>
        </ul>
        <p>This site was created to share tips, stories, recipes, and create community for those who are Paleo or considering. <br> My Name is Scott and I began my Paleo journey and wanted to document my experience. Currently still in my challenge but feeling
            great. </p>
    </div>
</body>

</html>